<!DOCTYPE html>
<html ng-app="app">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
  <style>
    .info { border: 1px solid red; padding: 15px; background-color: aquamarine;}
  </style>
</head>
<body ng-controller="ctrl">
  <input ng-model="name" placeholder="Name"> <br><br>
  <input ng-model="email" placeholder="Email"> <br><br>
  <button ng-click="s=true">Toggle</button>
  <div class="info" ng-if="s">
    Hi {{name}} <br><br> Email: {{email}}
  </div>
  <script>
    angular.module('app', []).controller('ctrl', $scope => $scope.s = false);
  </script>
</body>
</html>